.container.main

  acme-navbar(creation-date='vm.creationDate')

  .jumbotron.text-center
    h1 Junk Place!

    p.lead
      //img(src='assets/images/yeoman.png', alt="I'm Yeoman")
      //br
      span A place for inmemorable talks


  form(ng-submit='vm.onSubmit()')

    input#message.form-control(
    autocomplete="off"
    type="text"
    placeholder="Message text"
    ng-model='vm.messageText'
    )

    button.btn.btn-primary(type="submit") Send

  .messages
    .message(
    ng-repeat='message in vm.messages | limitTo:10 track by message.id'
    ng-class='{own: message.from === "me" }'
    )
      .from \#{{ message.from }} ({{ message.date | amDateFormat:'HH:mm:ss' }})
      .text {{ message.text }}
